@import '../../../index.css';

.header-mobile {
  display: none;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); 
  height: 80px;
  border-bottom: 1px solid var(--secundary-color-gray);
  position: fixed; 
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.container-header-items {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.home-icon-header-mobile, .three-icon-header-mobile {
  width: 40px;
  height: 40px;
  color: var(--bg-color-black);
  cursor: pointer; 
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animações de clique */
}

.home-icon-header-mobile:hover, .three-icon-header-mobile:hover {
  transform: scale(1.1); 
}

.home-icon-header-mobile:active, .three-icon-header-mobile:active {
  transform: scale(0.95); 
}

.three-icon-header-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px; /* Largura das linhas */
  height: 8px; /* Espaço entre as linhas */
  padding: 15px;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--bg-color-black);
  transition: all 0.3s ease; /* Transição suave para animações */
}

.line1 {
  transform-origin: top left;
}

.line2 {
  transform-origin: bottom left;
}

.three-icon-header-mobile.open .line1 {
  display: flex;
  position: relative;
  left: 1px;
  top: 1px;

  transform: rotate(45deg) translateY(-7px);
}

.three-icon-header-mobile.open .line2 {
  display: flex;
  position: relative;
  left: -1px;
  transform: rotate(-45deg) translateY(9px);
}
/* Animação para o efeito de foco no texto */
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/* Classe para aplicar a animação */
.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Menu com desfoque variável */
.menu-links {
  display: flex;
  flex-direction: column;
  font-family: var(--text-font-Archivo), sans-serif;
  align-items: flex-start;
  justify-items: center;
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 10px 0;
  max-height: 0; 
  opacity: 0; /* Inicialmente invisível */
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;

  /* Aplicando um desfoque variável (menos no topo, mais no fundo) */
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(5px);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)); 
}

.menu-link span {
  display: inline-block;
  opacity: 0;
  filter: blur(12px);
}

.menu-links.open .menu-link span {
  opacity: 1;
  filter: blur(0);
  animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
}

.menu-links.open {
  max-height: 300px;
  opacity: 1;
  display: flex;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  text-decoration: none;
  color: var(--bg-color-black);
  font-size: 18px;
  width: 100%;
  position: relative;
}

.menu-link:hover {
  background-color: var(--primary-color-light);
  color: var(--primary-color);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-icon {
  display: flex;
  position: relative;
  left: -35px;
  font-size: 2.5rem;
  padding: 0 0.2rem 0 0;
  margin-left: 20px;
  transition: transform 0.3s ease;
}

.menu-link:hover .menu-icon {
  transform: translateX(5px);
}

/* Media Query para telas menores que 800px */
@media (max-width: 800px) {
  .header-mobile {
    display: flex; 
  }
}
