@import '../../index.css';

.header-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 26.2rem;
    height: 3rem;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    border: solid 1px var(--secundary-color-gray);
    padding: 10px 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    gap: 1.5rem;
}

.header-item {
    font-family: var(--text-font-Archivo), sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.home-icon {
    width: 1.8rem;
    height: 1.7rem;
    color: var(--color-dark);
    transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease; /* Adiciona transição para uma mudança suave */
}

.home-icon:hover {
    background-color: var(--color-light);
    border-radius: 10px;
    padding: 14px;
}

.header-item .tooltip {
    position: absolute;
    bottom: -2.3rem;
    opacity: 0;
    visibility: hidden;
    background-color: var(--bg-color-black);
    color: var(--primary-color-white);
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.875rem;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease, bottom 0.3s ease;
    transform: translateY(10px);
    backdrop-filter: blur(20px); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); 
}

.header-item:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    bottom: -2.5rem; 
}

.space-line {
    border-left: 2.3px solid var(--secundary-color-gray);
    height: 25px;
}

